{
  "presets": ["es2015", "stage-2"
  //   {
  //   "targets": {
  //     "browsers":["> 1%", "last 2 versions", "not ie <= 8"]
  //   }
  // }
],
  "plugins": ["transform-runtime"],
  "comments": false
}
